<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dietplan">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dietplan">
        <activity android:name=".RecipesOfSpinachArtichokeDipPasta" />
        <activity android:name=".RecipesOfEgg_in_a_HolePepperswithAvocadoSalsa" />
        <activity android:name=".RecipesOfCurriedSweetPotatoPeanutSoup" />
        <activity android:name=".RecipesOfMediterraneanRavioliwithArtichokesOlives" />
        <activity android:name=".RecipesOfChickenCucumberLettuceWrapswithPeanutSauce" />
        <activity android:name=".RecipesOfMuesliwithRaspberries" />
        <activity android:name=".RecipesOfEasySalmonCakes" />
        <activity android:name=".RecipesOfOvenSweetPotatoFries" />
        <activity android:name=".RecipesOfZucchiniChickpeaVeggieBurgerswithTahiniRanchSauce" />
        <activity android:name=".RecipesOfChipotleLimeCauliflowerTacoBowls" />
        <activity android:name=".RecipesOfSheetPanChickenFajitaBowls" />
        <activity android:name=".RecipesOfVeggieHummusSandwich" />
        <activity android:name=".RecipesOfBakedBananaNutOatmealCups" />
        <activity android:name=".Dietplan2000Day7" />
        <activity android:name=".Dietplan2000Day6" />
        <activity android:name=".Dietplan2000Day5" />
        <activity android:name=".Dietplan2000Day4" />
        <activity android:name=".Dietplan2000Day3" />
        <activity android:name=".Dietplan2000Day2" />
        <activity android:name=".Dietplan2000Day1" />
        <activity android:name=".Dietplan1800Day7" />
        <activity android:name=".Dietplan1800Day6" />
        <activity android:name=".Dietplan1800Day5" />
        <activity android:name=".Dietplan1800Day4" />
        <activity android:name=".Dietplan1800Day3" />
        <activity android:name=".Dietplan1800Day2" />
        <activity android:name=".Dietplan1800Day1" />
        <activity android:name=".Dietplan1500Day7" />
        <activity android:name=".Dietplan1500Day6" />
        <activity android:name=".Dietplan1500Day5" />
        <activity android:name=".Dietplan1500Day4" />
        <activity android:name=".Dietplan1500Day3" />
        <activity android:name=".Dietplan1500Day2" />
        <activity android:name=".Dietplan1500Day1" />
        <activity android:name=".Dietplan1200Day7" />
        <activity android:name=".Dietplan1200Day6" />
        <activity android:name=".Dietplan1200Day5" />
        <activity android:name=".Dietplan1200Day4" />
        <activity android:name=".Dietplan1200Day3" />
        <activity android:name=".Dietplan1200Day2" />
        <activity android:name=".Dietplan1200Day1" />
        <activity android:name=".Dietplan2000Activity" />
        <activity android:name=".Dietplan1800Activity" />
        <activity android:name=".Dietplan1500Activity" />
        <activity android:name=".Dietplan1200Activity" />
        <activity android:name=".HomeFragment" />
        <activity android:name=".BMRFragment" />
        <activity android:name=".BMIFragment" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>